# Секреты
.env

# Зависимости и сборка фронтенда
frontend/node_modules/
frontend/dist/

# Python-мусор и виртуальное окружение
__pycache__/
*.pyc
.venv/
venv/


# База данных и загруженные файлы пользователей
backend/profiler.db
backend/uploads/

# Настройки редактора и временные файлы
.vscode/
~$*